Client/xml-resources/web-service-references/GameEngineService/wsdl/52.15.165.134_8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://simpleworldgame.cs.bilkent.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://simpleworldgame.cs.bilkent.edu/" name="GameEngineService">
<types>
<xsd:schema>
<xsd:import namespace="http://simpleworldgame.cs.bilkent.edu/" schemaLocation="http://52.15.165.134:8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService?xsd=1"/>
</xsd:schema>
</types>
<message name="getRegion">
<part name="parameters" element="tns:getRegion"/>
</message>
<message name="getRegionResponse">
<part name="parameters" element="tns:getRegionResponse"/>
</message>
<message name="getUserName">
<part name="parameters" element="tns:getUserName"/>
</message>
<message name="getUserNameResponse">
<part name="parameters" element="tns:getUserNameResponse"/>
</message>
<message name="isGameActive">
<part name="parameters" element="tns:isGameActive"/>
</message>
<message name="isGameActiveResponse">
<part name="parameters" element="tns:isGameActiveResponse"/>
</message>
<message name="findRegion">
<part name="parameters" element="tns:findRegion"/>
</message>
<message name="findRegionResponse">
<part name="parameters" element="tns:findRegionResponse"/>
</message>
<message name="distributeRegions">
<part name="parameters" element="tns:distributeRegions"/>
</message>
<message name="distributeRegionsResponse">
<part name="parameters" element="tns:distributeRegionsResponse"/>
</message>
<message name="getSelectedRegion1">
<part name="parameters" element="tns:getSelectedRegion1"/>
</message>
<message name="getSelectedRegion1Response">
<part name="parameters" element="tns:getSelectedRegion1Response"/>
</message>
<message name="setSelectedRegion1">
<part name="parameters" element="tns:setSelectedRegion1"/>
</message>
<message name="setSelectedRegion1Response">
<part name="parameters" element="tns:setSelectedRegion1Response"/>
</message>
<message name="getSelectedRegion2">
<part name="parameters" element="tns:getSelectedRegion2"/>
</message>
<message name="getSelectedRegion2Response">
<part name="parameters" element="tns:getSelectedRegion2Response"/>
</message>
<message name="setSelectedRegion2">
<part name="parameters" element="tns:setSelectedRegion2"/>
</message>
<message name="setSelectedRegion2Response">
<part name="parameters" element="tns:setSelectedRegion2Response"/>
</message>
<message name="findWhoseRegion">
<part name="parameters" element="tns:findWhoseRegion"/>
</message>
<message name="findWhoseRegionResponse">
<part name="parameters" element="tns:findWhoseRegionResponse"/>
</message>
<message name="resignRequest">
<part name="parameters" element="tns:resignRequest"/>
</message>
<message name="resignRequestResponse">
<part name="parameters" element="tns:resignRequestResponse"/>
</message>
<message name="activatePlayer">
<part name="parameters" element="tns:activatePlayer"/>
</message>
<message name="activatePlayerResponse">
<part name="parameters" element="tns:activatePlayerResponse"/>
</message>
<message name="getPlayers">
<part name="parameters" element="tns:getPlayers"/>
</message>
<message name="getPlayersResponse">
<part name="parameters" element="tns:getPlayersResponse"/>
</message>
<message name="getWorld">
<part name="parameters" element="tns:getWorld"/>
</message>
<message name="getWorldResponse">
<part name="parameters" element="tns:getWorldResponse"/>
</message>
<message name="attackControl">
<part name="parameters" element="tns:attackControl"/>
</message>
<message name="attackControlResponse">
<part name="parameters" element="tns:attackControlResponse"/>
</message>
<message name="setupGame">
<part name="parameters" element="tns:setupGame"/>
</message>
<message name="setupGameResponse">
<part name="parameters" element="tns:setupGameResponse"/>
</message>
<message name="reinforcementControl">
<part name="parameters" element="tns:reinforcementControl"/>
</message>
<message name="reinforcementControlResponse">
<part name="parameters" element="tns:reinforcementControlResponse"/>
</message>
<message name="integration">
<part name="parameters" element="tns:integration"/>
</message>
<message name="integrationResponse">
<part name="parameters" element="tns:integrationResponse"/>
</message>
<message name="fortificationControl">
<part name="parameters" element="tns:fortificationControl"/>
</message>
<message name="fortificationControlResponse">
<part name="parameters" element="tns:fortificationControlResponse"/>
</message>
<message name="joinGame">
<part name="parameters" element="tns:joinGame"/>
</message>
<message name="joinGameResponse">
<part name="parameters" element="tns:joinGameResponse"/>
</message>
<message name="isGameOver">
<part name="parameters" element="tns:isGameOver"/>
</message>
<message name="isGameOverResponse">
<part name="parameters" element="tns:isGameOverResponse"/>
</message>
<message name="getRegions">
<part name="parameters" element="tns:getRegions"/>
</message>
<message name="getRegionsResponse">
<part name="parameters" element="tns:getRegionsResponse"/>
</message>
<message name="setSelectedRegion">
<part name="parameters" element="tns:setSelectedRegion"/>
</message>
<message name="setSelectedRegionResponse">
<part name="parameters" element="tns:setSelectedRegionResponse"/>
</message>
<message name="setUserName">
<part name="parameters" element="tns:setUserName"/>
</message>
<message name="setUserNameResponse">
<part name="parameters" element="tns:setUserNameResponse"/>
</message>
<message name="getRoomID">
<part name="parameters" element="tns:getRoomID"/>
</message>
<message name="getRoomIDResponse">
<part name="parameters" element="tns:getRoomIDResponse"/>
</message>
<message name="getConfiguration">
<part name="parameters" element="tns:getConfiguration"/>
</message>
<message name="getConfigurationResponse">
<part name="parameters" element="tns:getConfigurationResponse"/>
</message>
<message name="getGameStatistics">
<part name="parameters" element="tns:getGameStatistics"/>
</message>
<message name="getGameStatisticsResponse">
<part name="parameters" element="tns:getGameStatisticsResponse"/>
</message>
<message name="isDistributionFinished">
<part name="parameters" element="tns:isDistributionFinished"/>
</message>
<message name="isDistributionFinishedResponse">
<part name="parameters" element="tns:isDistributionFinishedResponse"/>
</message>
<message name="checkGameCode">
<part name="parameters" element="tns:checkGameCode"/>
</message>
<message name="checkGameCodeResponse">
<part name="parameters" element="tns:checkGameCodeResponse"/>
</message>
<message name="getGameCode">
<part name="parameters" element="tns:getGameCode"/>
</message>
<message name="getGameCodeResponse">
<part name="parameters" element="tns:getGameCodeResponse"/>
</message>
<message name="isRoomFull">
<part name="parameters" element="tns:isRoomFull"/>
</message>
<message name="isRoomFullResponse">
<part name="parameters" element="tns:isRoomFullResponse"/>
</message>
<message name="getSoldier">
<part name="parameters" element="tns:getSoldier"/>
</message>
<message name="getSoldierResponse">
<part name="parameters" element="tns:getSoldierResponse"/>
</message>
<message name="setSoldier">
<part name="parameters" element="tns:setSoldier"/>
</message>
<message name="setSoldierResponse">
<part name="parameters" element="tns:setSoldierResponse"/>
</message>
<message name="getWinner">
<part name="parameters" element="tns:getWinner"/>
</message>
<message name="getWinnerResponse">
<part name="parameters" element="tns:getWinnerResponse"/>
</message>
<message name="nextTurn">
<part name="parameters" element="tns:nextTurn"/>
</message>
<message name="nextTurnResponse">
<part name="parameters" element="tns:nextTurnResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getSoldierWaiting">
<part name="parameters" element="tns:getSoldierWaiting"/>
</message>
<message name="getSoldierWaitingResponse">
<part name="parameters" element="tns:getSoldierWaitingResponse"/>
</message>
<message name="resetGame">
<part name="parameters" element="tns:resetGame"/>
</message>
<message name="resetGameResponse">
<part name="parameters" element="tns:resetGameResponse"/>
</message>
<message name="getCurrentPlayer">
<part name="parameters" element="tns:getCurrentPlayer"/>
</message>
<message name="getCurrentPlayerResponse">
<part name="parameters" element="tns:getCurrentPlayerResponse"/>
</message>
<message name="changeCurrentPlayer">
<part name="parameters" element="tns:changeCurrentPlayer"/>
</message>
<message name="changeCurrentPlayerResponse">
<part name="parameters" element="tns:changeCurrentPlayerResponse"/>
</message>
<message name="getArmyOf">
<part name="parameters" element="tns:getArmyOf"/>
</message>
<message name="getArmyOfResponse">
<part name="parameters" element="tns:getArmyOfResponse"/>
</message>
<message name="getArmyOfRegion">
<part name="parameters" element="tns:getArmyOfRegion"/>
</message>
<message name="getArmyOfRegionResponse">
<part name="parameters" element="tns:getArmyOfRegionResponse"/>
</message>
<message name="setConfiguration">
<part name="parameters" element="tns:setConfiguration"/>
</message>
<message name="setConfigurationResponse">
<part name="parameters" element="tns:setConfigurationResponse"/>
</message>
<portType name="GameEngine">
<operation name="getRegion">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getRegionRequest" message="tns:getRegion"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getRegionResponse" message="tns:getRegionResponse"/>
</operation>
<operation name="getUserName">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getUserNameRequest" message="tns:getUserName"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getUserNameResponse" message="tns:getUserNameResponse"/>
</operation>
<operation name="isGameActive">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isGameActiveRequest" message="tns:isGameActive"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isGameActiveResponse" message="tns:isGameActiveResponse"/>
</operation>
<operation name="findRegion">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/findRegionRequest" message="tns:findRegion"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/findRegionResponse" message="tns:findRegionResponse"/>
</operation>
<operation name="distributeRegions">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/distributeRegionsRequest" message="tns:distributeRegions"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/distributeRegionsResponse" message="tns:distributeRegionsResponse"/>
</operation>
<operation name="getSelectedRegion1">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSelectedRegion1Request" message="tns:getSelectedRegion1"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSelectedRegion1Response" message="tns:getSelectedRegion1Response"/>
</operation>
<operation name="setSelectedRegion1">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSelectedRegion1Request" message="tns:setSelectedRegion1"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSelectedRegion1Response" message="tns:setSelectedRegion1Response"/>
</operation>
<operation name="getSelectedRegion2">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSelectedRegion2Request" message="tns:getSelectedRegion2"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSelectedRegion2Response" message="tns:getSelectedRegion2Response"/>
</operation>
<operation name="setSelectedRegion2">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSelectedRegion2Request" message="tns:setSelectedRegion2"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSelectedRegion2Response" message="tns:setSelectedRegion2Response"/>
</operation>
<operation name="findWhoseRegion">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/findWhoseRegionRequest" message="tns:findWhoseRegion"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/findWhoseRegionResponse" message="tns:findWhoseRegionResponse"/>
</operation>
<operation name="resignRequest">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/resignRequestRequest" message="tns:resignRequest"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/resignRequestResponse" message="tns:resignRequestResponse"/>
</operation>
<operation name="activatePlayer">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/activatePlayerRequest" message="tns:activatePlayer"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/activatePlayerResponse" message="tns:activatePlayerResponse"/>
</operation>
<operation name="getPlayers">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getPlayersRequest" message="tns:getPlayers"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getPlayersResponse" message="tns:getPlayersResponse"/>
</operation>
<operation name="getWorld">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getWorldRequest" message="tns:getWorld"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getWorldResponse" message="tns:getWorldResponse"/>
</operation>
<operation name="attackControl">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/attackControlRequest" message="tns:attackControl"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/attackControlResponse" message="tns:attackControlResponse"/>
</operation>
<operation name="setupGame">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setupGameRequest" message="tns:setupGame"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setupGameResponse" message="tns:setupGameResponse"/>
</operation>
<operation name="reinforcementControl">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/reinforcementControlRequest" message="tns:reinforcementControl"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/reinforcementControlResponse" message="tns:reinforcementControlResponse"/>
</operation>
<operation name="integration">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/integrationRequest" message="tns:integration"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/integrationResponse" message="tns:integrationResponse"/>
</operation>
<operation name="fortificationControl">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/fortificationControlRequest" message="tns:fortificationControl"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/fortificationControlResponse" message="tns:fortificationControlResponse"/>
</operation>
<operation name="joinGame">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/joinGameRequest" message="tns:joinGame"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/joinGameResponse" message="tns:joinGameResponse"/>
</operation>
<operation name="isGameOver">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isGameOverRequest" message="tns:isGameOver"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isGameOverResponse" message="tns:isGameOverResponse"/>
</operation>
<operation name="getRegions">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getRegionsRequest" message="tns:getRegions"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getRegionsResponse" message="tns:getRegionsResponse"/>
</operation>
<operation name="setSelectedRegion">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSelectedRegionRequest" message="tns:setSelectedRegion"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSelectedRegionResponse" message="tns:setSelectedRegionResponse"/>
</operation>
<operation name="setUserName">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setUserNameRequest" message="tns:setUserName"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setUserNameResponse" message="tns:setUserNameResponse"/>
</operation>
<operation name="getRoomID">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getRoomIDRequest" message="tns:getRoomID"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getRoomIDResponse" message="tns:getRoomIDResponse"/>
</operation>
<operation name="getConfiguration">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getConfigurationRequest" message="tns:getConfiguration"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getConfigurationResponse" message="tns:getConfigurationResponse"/>
</operation>
<operation name="getGameStatistics">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getGameStatisticsRequest" message="tns:getGameStatistics"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getGameStatisticsResponse" message="tns:getGameStatisticsResponse"/>
</operation>
<operation name="isDistributionFinished">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isDistributionFinishedRequest" message="tns:isDistributionFinished"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isDistributionFinishedResponse" message="tns:isDistributionFinishedResponse"/>
</operation>
<operation name="checkGameCode">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/checkGameCodeRequest" message="tns:checkGameCode"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/checkGameCodeResponse" message="tns:checkGameCodeResponse"/>
</operation>
<operation name="getGameCode">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getGameCodeRequest" message="tns:getGameCode"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getGameCodeResponse" message="tns:getGameCodeResponse"/>
</operation>
<operation name="isRoomFull">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isRoomFullRequest" message="tns:isRoomFull"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/isRoomFullResponse" message="tns:isRoomFullResponse"/>
</operation>
<operation name="getSoldier">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSoldierRequest" message="tns:getSoldier"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSoldierResponse" message="tns:getSoldierResponse"/>
</operation>
<operation name="setSoldier">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSoldierRequest" message="tns:setSoldier"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setSoldierResponse" message="tns:setSoldierResponse"/>
</operation>
<operation name="getWinner">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getWinnerRequest" message="tns:getWinner"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getWinnerResponse" message="tns:getWinnerResponse"/>
</operation>
<operation name="nextTurn">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/nextTurnRequest" message="tns:nextTurn"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/nextTurnResponse" message="tns:nextTurnResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getSoldierWaiting">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSoldierWaitingRequest" message="tns:getSoldierWaiting"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getSoldierWaitingResponse" message="tns:getSoldierWaitingResponse"/>
</operation>
<operation name="resetGame">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/resetGameRequest" message="tns:resetGame"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/resetGameResponse" message="tns:resetGameResponse"/>
</operation>
<operation name="getCurrentPlayer">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getCurrentPlayerRequest" message="tns:getCurrentPlayer"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getCurrentPlayerResponse" message="tns:getCurrentPlayerResponse"/>
</operation>
<operation name="changeCurrentPlayer">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/changeCurrentPlayerRequest" message="tns:changeCurrentPlayer"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/changeCurrentPlayerResponse" message="tns:changeCurrentPlayerResponse"/>
</operation>
<operation name="getArmyOf">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getArmyOfRequest" message="tns:getArmyOf"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getArmyOfResponse" message="tns:getArmyOfResponse"/>
</operation>
<operation name="getArmyOfRegion">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getArmyOfRegionRequest" message="tns:getArmyOfRegion"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getArmyOfRegionResponse" message="tns:getArmyOfRegionResponse"/>
</operation>
<operation name="setConfiguration">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setConfigurationRequest" message="tns:setConfiguration"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/setConfigurationResponse" message="tns:setConfigurationResponse"/>
</operation>
</portType>
<binding name="GameEnginePortBinding" type="tns:GameEngine">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isGameActive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="distributeRegions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSelectedRegion1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSelectedRegion1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSelectedRegion2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSelectedRegion2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findWhoseRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resignRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activatePlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWorld">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="attackControl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setupGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reinforcementControl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="integration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fortificationControl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="joinGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isGameOver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSelectedRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoomID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGameStatistics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isDistributionFinished">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkGameCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGameCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isRoomFull">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSoldier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSoldier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWinner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nextTurn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSoldierWaiting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeCurrentPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getArmyOf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getArmyOfRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GameEngineService">
<port name="GameEnginePort" binding="tns:GameEnginePortBinding">
<soap:address location="http://52.15.165.134:8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService"/>
</port>
</service>
</definitions>